/*------------------------------Variables------------------------------*/

:root {
    --fuente-general: 'Poppins', sans-serif;
    --fuente-subtitulos: 'Oswald', sans-serif;
    --fuente-titulo: 'Oswald';
    --main-color: rgba(39, 39, 39, 0.962);
    --secondary-color: rgb(184, 0, 0);

    /*----------------------Colores de los Iconos----------------------*/

    --color-twitter: #1DA1F2;
    --color-facebook: #4267B2;
    --color-instagram: #C13584;
    --color-pinterest: #E60023;
}


/*-------------------------------Resets--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*-------------------------------Body--------------------------------*/


body {
    background: linear-gradient(77deg, rgb(47, 1, 1) 0%, rgb(121, 9, 9) 37%, rgb(176, 25, 25) 58%, rgb(148, 36, 36) 75%, rgb(168, 21, 21) 92%);
}


.registro {
    padding: 5px;
    color: black;
    background-color: white;
    border-radius: 25px;
    text-shadow: var(--main-color);
}

#twitter {
    color: var(--color-twitter)
}

#facebook {
    color: var(--color-facebook)
}

#instagram {
    color: var(--color-instagram)
}

#pinterest {
    color: var(--color-pinterest)
}

#topContainer .icon:hover {
    color: var(--main-color);
}

/*------------------------------Header--------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    padding: 4% 2vw;
    background-color: var(--main-color);
    height: 1vh;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.526);
}

#tituloPagina {
    display: flex;
    align-items: center;
}

#tituloPagina img {
    height: 30px;
    width: 30px;
}

#tituloPagina a {

    color: whitesmoke;

    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


#tituloPagina h1 {
    padding: 10px;
    transition: 1s;
}


#tituloPagina h1:hover {
    animation: salto 1.5s ease-in;
}

@keyframes salto {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

#tituloPagina div {
    background-color: var(--secondary-color);
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


nav,
nav ul {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

nav a:hover {
    color: var(--secondary-color);
    background-color: whitesmoke;
    border-radius: 25px;
    color: black;
}

#registro {
    padding: 10px;
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    font-weight: bold;
    border-radius: 25px;
}

#registro:hover {
    background-color: black;
    font-weight: bold;
}

#menuIcon {
    display: none;
    color: white;
    padding-right: 5px;
    cursor: pointer;
}



/*---------------------------------Body---------------------------------*/

body {
    font-family: var(--fuente-general);
    text-align: justify;
}

main {
    color: white;
    padding: 25px 3vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainContent {
    background-color: var(--main-color);
    padding: 1vw;
    text-align: center;
    width: 73%;
    border-radius: 15px;
}

#mapa {
    border-style: solid;
    border-color: var(--main-color);
}

input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}

.articulosGeneral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.articulos {
    background-color: whitesmoke;
    color: black;
    padding: 1vw;
    margin: 1vw;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.415);
    display: flex;
    text-align: justify;
    font-size: 90%;
    position: relative;
    justify-content: space-between;
    border-radius: 15px;
}

.articulos h4 {
    font-size: large;
}

.articulos a {
    color: black;
    text-decoration: none;
}

.articulos a h4:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    font-weight: bolder;
}

.textoArticulo {
    padding: 0 1%;
}

.imagenArticulo {
    width: 100%;
    height: 100%;
    transition: 2s;
}

.imagenArticulo:hover {
    opacity: 80%;
    transform: scale(1.1);
}



.clickon {
    color: purple;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

.imagen {
    display: block;
    position: relative;
    border-style: inset;
    max-width: 100%;
    max-height: 96%;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    align-self: center;

}

/*--------------------------------Aside---------------------------------*/

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

aside h3 {
    font-family: var(--fuente-subtitulos);
    font-size: 5vh;
}

hr {
    margin: 5px;
    padding: 0%;
}

aside>div {
    background-color: var(--main-color);
    border-radius: 15px;
    padding: 1vw;
    margin: 0% 0% 5%;
    text-align: center;
}

.redes {
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    display: inline-block;
    font-size: 30px;
    color: white;
    padding: 3px;
}

.twitter:hover {
    color: var(--color-twitter);
}

.facebook:hover {
    color: var(--color-facebook);
}

.instagram:hover {
    color: var(--color-instagram);
}

.pinterest:hover {
    color: var(--color-pinterest)
}

/*------------------------------Responsive------------------------------*/

@media (max-width: 850px) {
    main {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .mainContent {
        width: 100%;
        margin-bottom: 10px;
    }

    .mainContent h2 {
        margin: 5px;
    }

    .articulos {
        padding: 20px;
        margin: 10px 20px;
    }

    .articulos h4 {
        text-align: center;
    }

    .textoArticulo>p {
        margin: 10px 0px;
    }

    aside {
        width: 100%;
        justify-content: flex;
    }

    aside>div {
        margin-bottom: 10px;
    }

    #topContainer {
        display: none;
    }

    #menuIcon {
        display: block;
    }

    header {
        height: 13vh;
    }

    .menu_principal {
        display: inline-block;
    }

    nav ul {
        position: fixed;
        background-color: var(--main-color);
        flex-direction: column;
        top: 13%;
        right: 0;
        padding: 2%;
        width: 50%;
        transform: translateX(120%);
    }

    nav li {
        padding: 2px, 2px;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 3px;
        margin: 2px;
    }

    nav a:hover {
        color: var(--secondary-color);
        background-color: whitesmoke;
        border-radius: 0px;
        color: black;
    }

    #registro {
        background-color: var(--secondary-color);
        border-radius: 0px;
        margin: 2px;
        padding: 3px;
    }

    .articulos {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    nav ul {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

}

/*---------------------------------Footer-------------------------------*/

footer {
    padding: 2%;
    background-color: rgba(39, 39, 39, 0.852);
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
}

#derechos {
    text-align: center;
    color: white;
    font-size: 10px;
}

/*----------------Cosas para unificar en la hoja de estilos-----------------*/

#contactForm {
    display: block;
}

#divFormulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

form {
    max-width: 48%;
}

#mapa {
    max-width: 50%;
    max-height: 100%;
}

input[type=text], textarea {
    width: 100%;
}

input[type="text"]{
    height: 30px;
    border-style: none;
    border-bottom: 1px solid var(--main-color);
}

textarea {
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

form i {
    color: var(--main-color);
}

#submit {
    background-color: var(--secondary-color);
    border-radius: 2px;
    color: white;
    font-family: var(--fuente-general);
    border-style: none;
    padding: 5px;
    box-shadow: 2px 2px var(--main-color);
    float: right;
}

#submit:hover {
    background-color: var(--main-color);
    box-shadow: 2px 2px var(--secondary-color);
}

label {
    padding: 0px 2px;
}

fieldset {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

.contacto p {
    font-size: large;
}

.failure-icon, .error {
    color: var(--secondary-color);
}

.failure-icon {
    opacity: 0;
}

.divOpiniones {
   flex-wrap: wrap;
   flex-direction: row;
}

.opiniones {
    flex-direction: column;
    flex: 0 0 23%;
    margin: 15px 3px;
    text-align: center;
}

.opiniones hr {
    margin: 5px 0px;
}

/* RECORDAR CAMBIAR LA CLASE DE IMG EN INDEX.HTML CUANDO UNIFIQUEMOS */

.opiniones img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.opiniones h4 {
    font-size: medium;
}

.opiniones .imagen {
    border-style: none;
}

.review {
   font-style: italic;
   font-weight: bold;
}

.puntaje {
    font-size: x-large;
    color: var(--secondary-color);
    margin: -10px;
}

.firma {
    font-family: var(--fuente-subtitulos);
    font-size: large;
    text-align: right;
    font-weight: bolder;
}

@media (max-width: 800px) {
    #divFormulario {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    form {
        max-width: 100%;
        padding-top: 20px;
    }

    #mapa {
        max-width: 100%;
    }

}

@media (max-width: 850px) {
    .opiniones {
        flex: 0 0 30%;
    }
}

@media (max-width: 450px) {
    .opiniones {
        flex: 0 0 90%
    }
}


/* Estilos para el carrousel */

.carrousel {
    max-width: 120em;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    margin: 2vw;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.415);
}

.carrousel .grande {
    width: 300%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em 0;
    border-radius: 20px;

    transition: all .5s ease;
}
.carrousel .imagenes {
    width: calc(97% / 3);
    border-radius: 15px;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrousel a {
    border-style: none;
    width: 32%;
    max-height: 100%;
    border-radius: 10px;
}

.imgCarrousel {
     border-radius: 10px;
     max-height: 100%;
}

.carrousel .puntos {
    width: 100%;
    padding: .4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

.carrousel .punto {
    background-color: var(--main-color);
    list-style-type: none;
    width: .8em;
    height: .8em;
    margin: .2em;
    border-radius: 50%;
}

.carrousel .punto:hover {
    cursor: pointer;
}

.carrousel .punto.activo {
    background-color: var(--secondary-color);
}


.imgQuienesSomos {
    max-height: 500px;
    width: auto;
    max-width: 100%;
}

.quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloPagina a {
    display: flex;
    flex-direction: row;
    align-items: center;
}